.home {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}
/* navigation */
.home-nav {
  display: flex;
}
.nav-sublink-container {
  border-radius: 1.5em;
  padding: 1em 0.5em;
  background-color: var(--primary-transparent-color);
}
.nav-sublink {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 0.5em;
}
.nav-sublink:visited {
  color: var(--secondary-color);
  text-decoration: none;
}
.nav-sublink:hover {
  font-weight: 700;
  text-decoration: underline;
}
.nav-sublink.active {
  text-decoration: underline;
  font-weight: 700;
}
/* loading, error */
.error,
.loading {
  background-color: var(--primary-transparent-color);
  border-radius: 2em;
  padding: 2em;
}
.error h2,
.loading h2 {
  font-size: 3rem;
  padding: 0.25em 0;
}
.error p,
.loading p {
  font-size: 2rem;
  padding: 0.25em 0;
}
