.home {
  display: flex;
  justify-content: space-between;
}
.home ul {
  list-style: none;
}
.home-nav {
  display: inline-flex;
  justify-content: flex-end;
  gap: 1em;
  border-radius: 1.5em;
  padding: 2em 1em;
  background-color: var(--primary-transparent-color);
}
.nav-sublink {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
}
.nav-sublink:visited {
  color: var(--secondary-color);
  text-decoration: none;
}
.nav-sublink:hover {
  font-weight: 700;
  text-decoration: underline;
}
.nav-sublink.active {
  text-decoration: underline;
  font-weight: 700;
}
