.current-expanded-card {
  flex: 0 0 auto;
  background-color: var(--primary-transparent-color);
  backdrop-filter: blur(5px);
  border-radius: 1.5em;
  padding: 2em;
}

.current-top h4 {
  color: var(--secondary-color);
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 0.5em;
}
.current-top {
  border-bottom: 1px solid var(--secondary-color);
}
.current-bottom {
  display: flex;
  padding: 1em 0;
  gap: 5em;
}
.current-bottom > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.current-bottom li {
  display: flex;
  align-items: center;
}
.current-bottom span {
  color: var(--secondary-color);
  font-size: 1.6rem;
}
