@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Playfair+Display&family=Poppins:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* --primary-color: #f2f2f2;
  --primary-transparent-color: rgba(242, 242, 242, 0.5);
  --secondary-color: #313628;
  --secondary-transparent-color: rgba(48, 54, 38, 0.5); */

  --primary-color: #313628;
  --primary-transparent-color: rgba(48, 54, 38, 0.5);
  --secondary-color: #f2f2f2;
  --secondary-transparent-color: rgba(242, 242, 242, 0.5);
}

html {
  font-family: "Poppins";
  font-size: 62.5%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--secondary-color);
}
